[Unit]
Description=Runs j2es every five minutes

[Timer]
# Time to wait after booting before we run first time
OnBootSec=5min
# Time between running each consecutive time
OnUnitActiveSec=5min
Unit=j2es.service

[Install]
WantedBy=multi-user.target